<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCartSuite">
	<listeners>
		<listener class-name="com.qa.opencart.listeners.ExtentReportListener"></listener>
		<listener class-name="com.qa.opencart.listeners.TestAllureListener"></listener>
	</listeners>
  <test thread-count="5" name="OpenCartTest">
    <classes>
       <class name="com.qa.opencart.testcase.HomePageTest"/>
      <class name="com.qa.opencart.testcase.LoginPageTest"/>
      <class name="com.qa.opencart.testcase.MyAccountPageTest"></class>
    </classes>
  </test> <!-- OpenCartTest -->
</suite> <!-- OpenCartSuite -->
